---
layout: layout.njk
title: Helen McKay | Blog
eleventyNavigation:
    key: Blog
    order: 5
---
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"> Blog </li>
  </ol>
</nav>
<h1>My Blog</h1>

<ul>
{%- for blog in collections.blog -%}
    <li>
        <a href="{{blog.url | url}}">{{blog.data.title}}</a>
    </li>
{%- endfor -%}
</ul>