---
layout: layout.njk
title: Helen McKay | Blog
eleventyNavigation:
    key: Blog
    order: 4
---

<h1>Blog.</h1>

<ul id="blog-list">
{%- for blog in collections.blog -%}
    <li>
        <a href="{{blog.url | url}}">{{blog.data.title}}</a> | {{blog.data.date | readableDate}}
    </li>
{%- endfor -%}
</ul>