---
layout: layout.njk
title: Helen McKay | Projects
eleventyNavigation:
    key: Projects
    order: 3
---

<nav>
  <ol>
    <li>Projects</li>
  </ol>
</nav>

<h1>My Projects</h1>

<div id="projects-list">
  <div>
    {%- for project in collections.projects -%}
      <li><a href={{project.url | safe }}>{{project.data.title}}</a></li>
    {%- endfor -%}
  </div>
</div>

