---
layout: layout.njk
title: Home
eleventyNavigation:
    key: Projects
    order: 2
---

<h1>My Projects</h1>

{%- for project in collections.projects -%}
    <a href="{{project.url | url}}">{{project.data.title}}</a>
{%- endfor -%}