---
layout: layout.njk
title: Helen McKay | Projects
eleventyNavigation:
    key: Projects
    order: 2
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"> Projects</li>
  </ol>
</nav>

<h1>My Projects</h1>

<div id="projects-list">
  <div class="list-group list-group-flush">
    {%- for project in collections.projects -%}
      <li class="list-group-item"><a href={{project.url | safe }}>{{project.data.title}}</a></li>
    {%- endfor -%}
  </div>
</div>

