---
layout: layout.njk
---

<head>
  <link rel="stylesheet" type="text/css" href="../../assets/css/index.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/layout.css" />
</head>
<body>
  <h1>{{ title }}
  <h2>{{ date | readableDate }}</h2>
  <p>{{ body | safe }}</p>
  {{ content | safe }}
</body>

