---
layout: layout.njk
---

<head>
  <link rel="stylesheet" type="text/css" href="../../assets/css/main.css" />
</head>
<body>
<nav class="blog-nav">
  <ol>
    <li><a href="/blog">Blog</a></li>
    <li> > </li>
    <li> {{ title }}</li>
  </ol>
</nav>
  <h1>{{ title }}
  <h2>{{ date | readableDate }}</h2>
    {{ content | safe }}
</body>

