{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
  <li{% if entry.url == page.url %} class="activenav"{% endif %}>
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      {%- if entry.children.length -%}
        <ul>
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
      {%- endif -%}
  </li>
{%- endmacro %}

<nav>
    <h1>Helen McKay</h1>
    <ul>
        {%- for entry in navPages %}
            {{ renderNavListItem(entry) }}
        {%- endfor -%}
    </ul>
</nav>