{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
  <li class="nav-item">
    <a class="nav-link" {% if entry.url == page.url %} class="active" {% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
      {%- if entry.children.length -%}
        <ul>
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
      {%- endif -%}
  </li>
{%- endmacro %}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Helen McKay</a>
  <ul class="nav nav-pills">
   {%- for entry in navPages %}
            {{ renderNavListItem(entry) }}
        {%- endfor -%}
  </ul>
</nav>

<!--
 <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
-->