{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
  <li>
    <a {% if entry.url == page.url %} class="activeNav" {% else %} class="regNav" {% endif %} href="{{ entry.url | url }}">{{ entry.title }}</a>
      {%- if entry.children.length -%}
        <ul>
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
      {%- endif -%}
  </li>
{%- endmacro %}

<nav class="big-nav">
  <div>
    <div>
      <ul class="">
      {%- for entry in navPages %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>