---
layout: layout.njk
---

<head>
  <link rel="stylesheet" type="text/css" href="../../assets/css/index.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/layout.css" />
</head>
<body>
  <a href="/projects">Projects</a> / {{ title }}
  <h1>{{ prettyTitle }}</h1>
  <img src="{{ cover }}" alt"" />
  <h2>{{ date | readableDate }}</h2>
  <h3>{{ blurb }}</h3>
  <ul>
      {% for tech in techlist %}
          <li>{{tech}}</li>
      {% endfor %}
  </ul>
  {{ content | safe }}
</body>

