---
layout: layout.njk
---

<head>
  <link rel="stylesheet" type="text/css" href="../../assets/css/index.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/project.css"/>
</head>
<body>
  <a href="/projects">Projects</a> > {{ title }}
  <div class="coverContainer">
    <img class="cover" src="{{ cover }}" alt="" />
  </div>
  <h1>{{ title }}</h1>
  <h2>{{ blurb }}</h2>
  <h3>{{ date | readableDate }}</h3>
  <ul>
      {% for tech in techlist %}
          <li>{{tech}}</li>
      {% endfor %}
  </ul>
  {{ content | safe }}
</body>

