---
layout: layout.njk
---

<head>
  <link rel="stylesheet" type="text/css" href="../../assets/css/main.css"/>
</head>
<body>

<nav class="projects-nav">
  <ol>
    <li><a href="/projects">Projects</a></li>
    <li> > </li>
    <li> {{ title }}</li>
  </ol>
</nav>

  <div class="coverContainer">
    <img class="cover" src="{{ cover }}" alt="" />
  </div>
  <h1>{{ title }}</h1>
  <h2>{{ blurb }}</h2>
  <h3>{{ date | readableDate }}</h3>
  <ul>
      {% for tech in techlist %}
          <li>{{tech}}</li>
      {% endfor %}
  </ul>
  {{ content | safe }}
</body>

