/*body {
    margin: var(--sp1);
    background-color: #292929;
}

nav {
    padding: var(--sp3) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid white;
    margin: var(--sp3) 0;
}

nav ul {
    display: flex;
    list-style: none;
    align-content: center;
    flex: 1;
    margin: var(--sp4) 0;
}

nav li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs2);
    color: var(--blue);
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: filter 0.2s ease;
}

nav ul li a:hover {
    filter: brightness(120%);
}

.activenav a {
    border-bottom: 2px solid var(--blue);
}

ul li {
    margin: 0 var(--sp1);
}

a {
    transition: filter 0.3s ease;
}

a:hover {
    filter: brightness(120%);
}


@media screen and (min-width: 660px)
{
    body {
        margin: var(--sp1) var(--sp2);
    }    

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav h1 {
        flex: 2;
        text-align: left;
    }
}
*/