@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand Light';
    src: url('./quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('./quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: 'Quicksand Light', Arial, sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: 'quicksandlight', Arial, sans-serif;
    font-weight: normal;
    color: #111;
    background-image: url('../images/noise-lines.png');
    background-repeat: repeat;
    background-color: rgb(255, 230, 216);
    padding: 5rem;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, a {
    font-family: 'Bebas Neue';
}

body nav {
    color: #111;
    font-family: 'Bebas Neue';
}

#home-bio {
    list-style: none;
}

#home-bio li {
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
}

#social-links {
    list-style: none;
    display: flex;
}

#social-links li {
    margin: 0 1rem;
}

#social-links li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

#social-links li a:hover {
    color: #111;
}

.big-nav {
    -ms-flex-order: 1;
    order: 1;
}

.big-nav ul {
    list-style: none;
}

.big-nav ul li a {
    font-size: 5rem;
    transition: color 0.3s ease;
}

.big-nav li a:hover {
    color: #111;
}

.big-nav .regNav {
    text-decoration: none;
    color: #333;
}

.activeNav {
    text-decoration: underline;
    color: #111;
}

#about-text p {
    margin: 1rem 0;
}

#about-text ul {
    margin: 1rem;
    list-style-position: inside;
    list-style: square;
}

img {
    height: 100px;
    width: 100px;
}

#about-pic {
    background-image: url('../images/me.jpg');
    height: 300px;
    width: 300px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}