/* 
    using one big CSS file for entire site

    //TO-DO: use bootstrap theme that i downloaded for site
*/

/*
*::before, *::after {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

.homelinks-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.homelink {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 100px;
    margin: 5px;
}

.homelink a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding: 10px;
}

#home {
    padding: 0 100px;
}

#home p {
    text-align: center;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#pic-of-me {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#pic-of-me img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}
*/

@import url('./bootstrap.css');

